 <header>
        <div class="topbar">
            <div class="mail">info@gmail.com</div>
            <div class="contact">+977-98xxxxxxx</div>
        </div>
        <nav class="logo">Danawala</div>
            <ul>
               <li ><a href="/" class="active">Home</a></li>
               <li><a href="/about">{{placeholder}}</a></li>
               <li><a href="/services">Services</a></li>
               <li><a href="/contact">Contact</a></li>
             </ul>
             <div class="absolute">
                😂
             </div>
             
        </nav>
    </header>